@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Poppins:wght@300&display=swap');

:root{
    --bs-body-font-family : 'Odor Mean Chey' 
}

.img_buol{
    height: 60px;
}

.img_pu{
    height: 50px;
}

.container_default{
    width: 1140px;
}

.container_carousel{
    width: 1140px;
    height: 270;
}
